$opens: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;

.food-assist {
  height: 100vh;
  overflow: hidden;
  font-family: $opens !important;
  position: relative;
  @media all and(max-width: 768px) {
    height: auto;
  }
  &__inner {
    max-width: 1700px;
    margin: 0 auto;
    min-height: 100%;
    padding: 60px 25px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    @media all and(max-width: 1650px) {
      padding: 15px 20px;
      max-width: 100%;
      overflow: auto;
    }
    @media all and(max-width: 1024px) {
      padding: 10px 15px;
      height: 100%;
      svg {
        max-width: 100%;
      }
    }
    @media all and(max-width: 768px) {
      padding: 60px 15px 10px;
    }
  }
  &__header {
    z-index: 5;
    position: relative;
    flex-grow: 0 !important;
    @media all and(max-width: 1024px) {
      margin-bottom: 25px;
    }
  }
  &__header-menu {
    padding: 0 !important;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    li {
      a {
        text-decoration: none;
        font-size: 22px;
        color: #333333;
        font-weight: 600;
        padding: 12px 27px;
        transition: ease-in-out 0.3s;
        position: relative;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: auto;
          width: 0;
          bottom: 0;
          left: 50%;
          height: 1px;
          background: #FFA726;
          transition: ease-in-out 0.3s;
        }
        &:hover, &.active {
          color: #666;
          &:before {
            margin-left: -25px;
            width: 50px;
          }
        }
        @media all and(max-width: 1650px) {
          font-size: 18px;
        }
      }
    }
    &.burger {
      flex-direction: column;
      padding: 0;
      li {
        a {
          color: #fff;
          font-size: 16px;
          padding: 13px 20px;
          height: 100%;
          text-align: left;
          display: block;
          transition: all 0.3s;
          &:before {
            display: none;
          }
          &:hover, &.active {
            background: rgba(255,255,255, 0.2);
          }
        }
      }
    }
  }
  &__header {
    align-items: center;
    justify-content: flex-end;
    flex-grow: 0;
  }
  &__header-btn {
    font-size: 18px !important;
    font-weight: bold !important;
    text-transform: none !important;
    padding-left: 27px !important;
    padding-right: 27px !important;
    margin-left: 40px;
    @media all and(max-width: 1650px) {
      font-size: 16px !important;
    }
  }
  &__wave {
    position: absolute !important;
    top: 0;
    left: 0;
  }
  &__cloud1 {
    position: absolute;
    top: 25%;
    left: -335px;
    animation-duration: 40s;
    animation-name: cloud1;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  &__cloud2 {
    position: absolute;
    top: 20%;
    left: -205px;
    animation-duration: 100s;
    animation-name: cloud2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 4s;
  }
  &__cloud3 {
    position: absolute;
    top: 60%;
    left: -275px;
    animation-duration: 70s;
    animation-name: cloud3;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2s;
  }
  &__balloon {
    position: absolute;
    left: 70%;
    top: 30%;
    transition: ease-out 20s;
  }
  &__drone {
    position: absolute;
    top: -121px;
    left: auto;
    right: 5px;
    transition: ease-in 2s;
    animation-delay: 2s;
    animation-name: drone;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    &.centered {
      right: 20% !important;
    }
  }
  &__back {
    position: absolute;
    top: auto;
    left: auto;
    right: 0;
    bottom: 35px;
    @media all and(max-width: 1650px) {
      bottom: 25px;
    }
    @media all and(max-width: 768px) {
      bottom: 30px;
      width: 334px;
      margin-left: -172px;
      left: 50%;
    }
  }
  &__content {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    flex-grow: 1;
    @media all and(max-width: 768px) {
      align-items: flex-start;
    }
    .row {
      max-width: 100%;
    }
    .left-part {
      max-width: 626px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &.form {
        max-width: 500px;
        @media all and(max-width: 768px) {
          width: auto;
        }
      }
      @media all and(max-width: 768px) {
        justify-content: flex-start;
        margin: 0 auto 25px;
        width: 100%;
      }
    }
    .right-part {
      flex-grow: 1;
      //max-width: none;
      display: flex;
      align-items: center;
      justify-content: center;
      &.form {
        justify-content: flex-start;
        align-items: center;
        @media all and(max-width: 768px) {
          justify-content: center;
          align-items: center;
        }
      }
      &.slider {
        @media all and(max-width: 1280px) {
          display: block;
        }
      }
    }
    @media all and(max-width: 768px) {
      .left-part {
        //order: 2;
      }
    }
    .row {
      margin: 0;
    }
  }
  &__content-option {
    text-align: left;
    //font-family: $poppins;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0px;
    color: #333333;
    @media all and(max-width: 1650px) {
      font-size: 20px;
    }
    @media all and(max-width: 1280px) {
      font-size: 18px;
    }
    @media all and(max-width: 1024px) {
      font-size: 16px;
    }
  }
  &__content-title {
    text-align: left;
    font-size: 62px;
    //font-family: $poppins;
    font-weight: 600;
    letter-spacing: 0px;
    color: #FFB127;
    @media all and(max-width: 1650px) {
      font-size: 45px;
    }
    @media all and(max-width: 1280px) {
      font-size: 40px;
    }
    @media all and(max-width: 1024px) {
      //font-size: 30px;
    }
  }
  &__content-text {
    margin-top: 11px;
    text-align: left;
    font-size: 19px;
    line-height: 36px;
    //font-family: $poppins;
    letter-spacing: 0px;
    color: #8E8E8E;
    @media all and(max-width: 1650px) {
      font-size: 16px;
      line-height: 26px;
    }
    @media all and(max-width: 1280px) {
      font-size: 15px;
      line-height: 20px;
    }
    @media all and(max-width: 1024px) {
      font-size: 14px;
    }
  }
  &__content-btn {
    margin-top: 51px;
    .v-btn {
      font-size: 18px !important;
      font-family: $poppins;
      font-weight: 500 !important;
      text-transform: none !important;
      width: 400px;
      box-shadow: 0 20px 14px rgba(255, 167, 38, 0.34);
      @media all and(max-width: 1650px) {
        font-size: 16px !important;
        width: auto;
      }
    }
    @media all and(max-width: 1650px) {
      margin-top: 10px;
    }
  }
  &__content-right {
    text-align: center;
    .step3-right {
      letter-spacing: 0px;
      color: #FFA300;
      font-weight: 600;
      display: flex;
      align-items: center;
      @media all and(max-width: 960px) {
        flex-wrap: wrap;
      }
      @media all and(max-width: 768px) {
        flex-direction: column;
      }
      svg {
        max-width: 100%;
        @media all and(max-width: 768px) {
          max-height: 50%;
        }
      }
      .first {
        font-size: 70px;
        margin-right: 30px;
        @media all and(max-width: 1650px) {
          font-size: 50px;
        }
        @media all and(max-width: 1440px) {
          font-size: 40px;
        }
        @media all and(max-width: 1280px) {
          font-size: 35px;
        }
        @media all and(max-width: 768px) {
          margin-right: 0;
        }
      }
      .second {
        font-size: 170px;
        font-family: $poppins;
        margin-right: 30px;
        @media all and(max-width: 1650px) {
          font-size: 120px;
        }
        @media all and(max-width: 1440px) {
          font-size: 100px;
        }
        @media all and(max-width: 1280px) {
          font-size: 70px;
        }
        @media all and(max-width: 768px) {
          margin-right: 0;
        }
      }
      .third {
        font-size: 70px;
        padding-top: 50px;
        @media all and(max-width: 1650px) {
          font-size: 50px;
        }
        @media all and(max-width: 1440px) {
          font-size: 40px;
        }
        @media all and(max-width: 1280px) {
          font-size: 35px;
        }
        @media all and(max-width: 768px) {
          padding-top: 0;
        }
      }
    }
  }
  &__courier {
    max-width: 100%;
    @media all and(max-width: 768px) {
      max-height: 300px;
    }
  }
  &__form {
    margin-top: 30px;
    max-width: 470px;
    .v-input__slot {
      box-shadow: 0px 3px 6px #00000029;
      min-height: 50px !important;
    }
    fieldset {
      border-color: #ECECEC !important;
      color: #C1C1C1;
    }
    @media all and(max-width: 1650px) {
      margin-top: 10px;
    }
    @media all and(max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__form-btn {
    font-size: 18px !important;
    font-family: $poppins;
    font-weight: 500 !important;
    text-transform: none !important;
    width: 400px;
    box-shadow: 0 20px 14px rgba(255, 167, 38, 0.34);
    margin-top: 58px;
    @media all and(max-width: 1650px) {
      font-size: 16px !important;
      width: auto;
      margin-top: 30px;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    //padding-top: 10px;
    max-width: 250px;
    margin-left: 25px;
    @media all and(max-width: 768px) {
      order: -1;
      max-width: 100%;
      margin-bottom: 25px;
      margin-left: 0;
    }
    .v-card {
      box-shadow: 0px 3px 6px #00000029 !important;
      border-radius: 15px !important;
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  &__contact-title {
    font-size: 20px;
    line-height: 21px;
    color: #3B3B3B;
    font-weight: bold;
    position: relative;
    padding-left: 27px;
    margin-bottom: 9px;
    font-family: $opens;
    &.phone {
      &:before {
        position: absolute;
        display: block;
        content: "";
        left: 0;
        top: 50%;
        margin-top: -9px;
        width: 18px;
        height: 18px;
        background: url("../phone-ic.png") 0 0 no-repeat;
        background-size: contain;
      }
    }
    &.email {
      &:before {
        position: absolute;
        display: block;
        content: "";
        left: 0;
        top: 50%;
        margin-top: -9px;
        width: 18px;
        height: 18px;
        background: url("../email-ic.png") 0 0 no-repeat;
        background-size: contain;
      }
    }
    &.address {
      &:before {
        position: absolute;
        display: block;
        content: "";
        left: 0;
        top: 50%;
        margin-top: -9px;
        width: 18px;
        height: 18px;
        background: url("../address-ic.png") 0 0 no-repeat;
        background-size: contain;
      }
    }
    &.soc {
      padding-left: 0;
    }
  }
  &__contact-text {
    a {
      color: #707070 !important;
      font-size: 20px;
      text-decoration: none;
      font-family: $opens;
    }
  }
}

@keyframes cloud1 {
  from {
    left: -335px;
  }

  to {
    left: 100%;
  }
}

@keyframes cloud2 {
  from {
    left: -205px;
  }

  to {
    left: 100%;
  }
}

@keyframes cloud3 {
  from {
    left: -275px;
  }

  to {
    left: 100%;
  }
}

@keyframes drone {
  from {
    top: -121px;
  }

  40% {
    top: 50%;
  }

  60% {
    top: 35%;
  }

  to {
    top: 40%;
  }
}

.bm-burger-button {
  z-index: 15;
  position: fixed;
}

.bm-menu {
  background-color: rgba(63, 63, 65, 0.87) !important;
}

.slick-dots {
  padding: 0 !important;
  //bottom: 0 !important;
}

.slick-dots {
  li, button {
    width: 30px !important;
    height: 30px !important;
  }
}

.slick-dots li button:before {
  width: 30px !important;
  height: 30px !important;
  font-size: 16px !important;
  color: #ffa726 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-dialog {
  border-radius: 15px !important;
  @media all and(max-width: 960px) {
    max-width: 100%;
  }
  .v-card {
    padding: 20px;
    position: relative;
    border-radius: 15px !important;
    @media all and(max-width: 960px) {
      padding: 20px 0 10px;
    }
  }
  .headline {
    font-size: 2rem !important;
    margin-bottom: 10px;
  }
  .v-input__slot {
    border-radius: 15px !important;
  }
  .close {
    top: 5px;
    right: 10px;
  }
  .v-card__text {
    padding-bottom: 0 !important;
  }
}

.my-alert {
  max-width: 650px;
  margin: 0 auto;
}